@media all and (max-width: 480px) {
    #name {
        font-size: 30px;
    }
    #small {
        font-size: 20px;
        color: white;
    }

    button {
        font-size: 20px;
        padding: 10pt 15pt;
        right: 20px;
    }
    #skills_col{
        font-size: 28px;
    }
    #skill {
        font-size: 15px;
    }
    
    #projects_header{
        font-size: 28px;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    #proj1_title, #proj2_title, #proj3_title{
        font-size: 20px;
    }
    a#link{
        font-size: 20px;
    }
    #mail{
        font-size: 20px;
        height: 100px;
    }
}



